### Generate Gbif catergoricals data used to tag scientific papers with species, family, or genus

Christian Marechal

In [1]:
import sys
sys.path.append('../base_open_source')

from data_base_exploration import read_gbif_extract_csvCategorical

C:\Users\CHRISTIAN\AppData\Roaming\Python\Python36\site-packages\spacy\util.py:275: UserWarning: [W031] Model 'en_core_sci_sm' (0.2.4) requires spaCy v2.2 and is incompatible with the current spaCy version (2.3.2). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [2]:
dg = read_gbif_extract_csvCategorical()

(101000, 44) ['Unnamed: 0', 'key', 'nubKey', 'nameKey', 'taxonID', 'sourceTaxonKey', 'kingdom', 'phylum', 'order', 'family', 'kingdomKey', 'phylumKey', 'classKey', 'orderKey', 'familyKey', 'datasetKey', 'constituentKey', 'parentKey', 'parent', 'scientificName', 'canonicalName', 'authorship', 'nameType', 'rank', 'origin', 'taxonomicStatus', 'nomenclaturalStatus', 'remarks', 'numDescendants', 'lastCrawled', 'lastInterpreted', 'issues', 'synonym', 'class', 'publishedIn', 'acceptedKey', 'accepted', 'proParteKey', 'genus', 'genusKey', 'species', 'speciesKey', 'basionymKey', 'basionym']
-important columns:
(101000, 7) ['speciesKey', 'canonicalName', 'family', 'familyKey', 'genus', 'genusKey', 'rank']
rank list: ['family' 'order' 'genus' 'species' 'kingdom' 'phylum' 'class'
 'subspecies']
df  family  generate: ../data/gbif_extract_family.csv
(7480, 3) ['familyKey', 'family', 'rank']
   familyKey         family    rank
0     8003.0      melitidae  family
1     8004.0   mimonectidae  family
2     8005.0     ochlesidae  family
3     8006.0  oedicerotidae  family
4     8007.0       opisidae  family
df  genus  generate: ../data/gbif_extract_genus.csv
(11744, 3) ['genusKey', 'genus', 'rank']
    genusKey         genus   rank
0  1000002.0  caldisphaera  genus
1  1000004.0   pyrodictium  genus
2  1000008.0  hyperthermus  genus
3  1000010.0     pyrolobus  genus
4  1000012.0    acidilobus  genus
df_species (80600, 7)
   speciesKey            canonicalName            family  familyKey         genus   genusKey     rank
0   1000003.0  caldisphaera lagunensis  caldisphaeraceae     7785.0  caldisphaera  1000002.0  species
1   1000005.0     pyrodictium occultum    pyrodictiaceae     3797.0   pyrodictium  1000004.0  species
2   1000006.0       pyrodictium abyssi    pyrodictiaceae     3797.0   pyrodictium  1000004.0  species
3   1000007.0      pyrodictium brockii    pyrodictiaceae     3797.0   pyrodictium  1000004.0  species
4   1000009.0   hyperthermus butylicus    pyrodictiaceae     3797.0  hyperthermus  1000008.0  species
df  species and subspecies  generate: ../data/gbif_extract_species.csv
Categorical <=> concat family + genus + species names list
df_cat (99824, 3)
df  categories = [family+genus+species]  generate: ../data/gbif_extract_categories.csv

In [8]:
print(dg.shape, list(dg.columns))
print(dg['rank'].unique())
display(dg.head())

print('rank== family')
display(dg[dg['rank']=='family'].head())


print('rank== genus')
display(dg[dg['rank']=='genus'].head())

print('rank== species or subspecies')
display(dg[(dg['rank']=='species') | (dg['rank']=='subspecies')].head())

(99824, 3) ['key', 'name', 'rank']
['family' 'genus' 'species' 'subspecies']

      key           name    rank
0  8003.0      melitidae  family
1  8004.0   mimonectidae  family
2  8005.0     ochlesidae  family
3  8006.0  oedicerotidae  family
4  8007.0       opisidae  family

rank== family

      key           name    rank
0  8003.0      melitidae  family
1  8004.0   mimonectidae  family
2  8005.0     ochlesidae  family
3  8006.0  oedicerotidae  family
4  8007.0       opisidae  family

rank== genus

            key          name   rank
7480  1000002.0  caldisphaera  genus
7481  1000004.0   pyrodictium  genus
7482  1000008.0  hyperthermus  genus
7483  1000010.0     pyrolobus  genus
7484  1000012.0    acidilobus  genus

rank== species or subspecies

             key                     name     rank
19224  1000003.0  caldisphaera lagunensis  species
19225  1000005.0     pyrodictium occultum  species
19226  1000006.0       pyrodictium abyssi  species
19227  1000007.0      pyrodictium brockii  species
19228  1000009.0   hyperthermus butylicus  species